.container {
  width: 100%;
  height: fit-content;
  position: relative;

  background-size: cover !important;
  background-position: center !important;
}

.carouselcontainer {
  width: fit-content;
  margin: auto;
}

.genreSelector h1 {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: x-large;
}

.genreSelector {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 70%;
  margin: auto;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .container {
    height: 45vh;
  }
  .genreSelector {
    flex-direction: row;
  }

  .genreSelector h1 {
    flex: 1;
    font-size: large;
  }
}

@media only screen and (min-width: 1350px) {
  .genreSelector h1 {
    font-size: xx-large;
  }
}

.Entertainment {
  background: linear-gradient(
      103.13deg,
      rgba(236, 72, 160, 0.74) 4.76%,
      rgba(170, 0, 109, 0.3) 94.47%
    ),
    url("/site-images/IMG_3734.JPG");
}

.Factual {
  background: linear-gradient(
      103.13deg,
      rgba(34, 126, 228, 0.74) 4.76%,
      rgba(40, 71, 205, 0.3) 94.47%
    ),
    url("/site-images/IMG_3734.JPG");
}

.Scripted {
  background: linear-gradient(
      103.13deg,
      rgba(47, 201, 48, 0.74) 4.76%,
      rgba(42, 131, 35, 0.3) 94.47%
    ),
    url("/site-images/IMG_3734.JPG");
}

.Sport {
  background: linear-gradient(
      103.13deg,
      rgba(250, 175, 24, 0.74) 4.76%,
      rgba(227, 131, 10, 0.3) 94.47%
    ),
    url("/site-images/IMG_3734.JPG");
}

.Archives {
  background: linear-gradient(
      103.13deg,
      rgba(153, 70, 209, 0.74) 4.76%,
      rgba(119, 34, 166, 0.3) 94.47%
    ),
    url("/site-images/IMG_3734.JPG");
}
