.button {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  transition: 0.5s ease;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  background-color: #fbfbfb;
  border: none;
  color: #333;
}

.button:hover {
  transition: 0.5s ease;
  scale: 1.03;
  transform: translate3d(0, -2px, 0);
}

.button:focus {
  outline: none;
}

.transparantButton {
  border: 2px solid #fbfbfb;
  box-sizing: border-box;

  background-color: transparent;
  color: #fbfbfb;
}
