.menuContainer div {
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin: auto;
}

.menu {
  height: 4.5rem;
  position: fixed;
  width: 100%;
  background-color: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10000;
}

.menu a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  background-size: 100% 200%;
  background-position: left top;
}

.menu a:hover {
  background-position: left bottom;
}

.menuContainer {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 100rem;
  margin: auto;
}

.buttonContainer {
  display: none;
  align-items: center;
  flex-direction: column;
}

.searchform {
  background: #fbfbfb;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
  height: 2.6rem;
  border-style: none;
  display: none;
}

.searchNoPadding {
  padding: 0 !important;
}

.searchform input {
  background-color: transparent;
  border: none;
  height: 100%;
  flex: 1;
}

.searchIcon {
  height: 1.6rem;
  opacity: 75%;
}

.searchform button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}

.searchform button:focus {
  outline: none;
}

.searchform button:hover {
  transition: 0.5s ease;
  scale: 1.05;
}

.searchform input:focus {
  outline: none;
}

.menua {
  padding: 0 2rem 0 2rem;
  transition: 1s ease;
}

.menua:hover {
  transition: 1s ease;
  scale: 1.05;
}

.spacer {
  flex-grow: 1;
  padding: 0 !important;
}

.watch {
  background: linear-gradient(to top, #eb4141 50%, #fbfbfb 50%);
}

.freshers {
  background: linear-gradient(to top, #f5d143 50%, #fbfbfb 50%);
}

.about {
  background: linear-gradient(to top, #81e654 50%, #fbfbfb 50%);
}

.hires {
  background: linear-gradient(to top, #74b5ff 50%, #fbfbfb 50%);
}

.login {
  background: linear-gradient(to top, #c577f5 50%, #fbfbfb 50%);
}

.unhidden {
  display: flex;
  width: 100% !important;
}

.menuToggle {
  margin-right: 1rem;
}

.toggle {
  --toggleAnimationTime: 0.5s;
  cursor: pointer;
  padding: 1rem;
  -webkit-transition: all var(--toggleAnimationTime) ease;
  transition: all var(--toggleAnimationTime) ease;

  background-color: transparent;
  clip-path: circle(50% at 50%);

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.toggle:active {
  background-color: #333333;
  transform: scale(1.3);
}

@media only screen and (min-width: 600px) {
  .searchform {
    width: 16rem;
    display: flex;
    padding: 0 1rem;
  }

  .searchToggle {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .searchform {
    width: 24rem;
  }
}

@media only screen and (min-width: 1020px) {
  .buttonContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 2rem 0 0 !important;
  }

  .menuToggle {
    display: none;
  }

  .menuContainer div {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1019.5px) {
  .buttonContainer {
    position: absolute;
    top: 4.5rem;
    right: 0;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .unhidden {
    overflow: hidden;

    animation-name: slidemenu;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
  }

  @keyframes slidemenu {
    0% {
      height: 0;
    }
    100% {
      height: 16rem;
    }
  }

  .buttonContainer a {
    height: 3.5rem;
    font-size: large;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .searchMobile {
    width: 90% !important;
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: 5%;
  }

  .searchlayoutdiv {
    display: block;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100vw;
    /* height: 4rem; */
    background-color: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    animation-name: slidesearch;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
  }

  @keyframes slidesearch {
    0% {
      height: 0;
    }
    100% {
      height: 4rem;
    }
  }
}
