.container {
  height: 20rem;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.gridContainer {
  display: grid;
  margin: auto;
  width: fit-content;
  grid-template-columns: repeat(3, 10rem);

  row-gap: 2rem;
  column-gap: 15rem;
  justify-content: space-evenly;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gridContainer h4 {
  margin: 0 0 0.5rem 0;
}

.gridContainer a {
  color: #000;
  text-decoration: none;
}

.gridContainer a:hover {
  text-decoration: underline;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
