body {
  margin: 0;
  background-color: #fbfbfb;
}

* {
  font-family: Open Sans;
}

.thin {
  max-width: 80rem;
  width: calc(100% - 2rem);
  padding: 0 1rem;
  object-fit: contain;
}

.center {
  margin: auto;
}

a {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}
