.menuContainer div {
  padding: 0 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.menu {
  height: 4.5rem;
  position: fixed;
  width: 100%;
  background-color: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  background-size: 100% 200%;
  background-position: left top;
}

.menu a:hover {
  background-position: left bottom;
}

.menuContainer {
  height: 100%;
  display: flex;
  align-items: center;
  width: calc(100% - 6rem);
  margin: auto;
}

.searchform {
  background: #fbfbfb;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
  height: 2.6rem;
  border-style: none;
  width: 25rem;
  padding: 0 1rem;
  display: flex;
}

.searchform input {
  background-color: transparent;
  border: none;
  height: 100%;
  flex: 1;
}

.searchIcon {
  height: 1.6rem;
  opacity: 75%;
}

.searchform button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchform button:focus {
  outline: none;
}

.searchform input:focus {
  outline: none;
}

.logo {
  height: 70%;
  padding: 0 0 0 2rem;
}

.spacer {
  flex-grow: 1;
}

.watch {
  background: linear-gradient(to top, #eb4141 50%, #fbfbfb 50%);
}

.freshers {
  background: linear-gradient(to top, #f5d143 50%, #fbfbfb 50%);
}

.about {
  background: linear-gradient(to top, #81e654 50%, #fbfbfb 50%);
}

.hires {
  background: linear-gradient(to top, #74b5ff 50%, #fbfbfb 50%);
}

.login {
  background: linear-gradient(to top, #c577f5 50%, #fbfbfb 50%);
}
