.flexContainer {
  flex-grow: 4;
}

.cell {
  width: 16rem;
  margin: auto;
}

.thumbnail {
  width: 16rem;
  height: 9rem;
  object-fit: scale-down;
}

.title {
  margin: 0;
}

.imageContainer {
  position: relative;
  width: 16rem;
  height: 9rem;
}

.description {
  margin: 0;
  height: 3.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
