.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carouselcontainer {
  height: 16rem;
  width: 100%;
}

.container {
  width: 98%;
  margin: auto;
}

.arrow {
  border: solid #333333;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.round:hover {
  background-color: #333333;
  cursor: pointer;
}

.round:hover .arrow {
  border-color: #fbfbfb;
}

.round:focus {
  outline: none;
}

.round {
  display: none;
}
@media only screen and (min-width: 750px) {
  .round {
    color: #333333;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-color: #333333;
    /* font-size: 3rem;
    line-height: 2.5rem; */
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    user-select: none;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
  }

  .round .arrow {
    border-color: #333333;
    border-style: solid;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
  }

  .right {
    transform: translate(2px, 2px) rotate(-45deg);
    -webkit-transform: translate(-2px, 2px) rotate(-45deg);
  }

  .left {
    transform: translate(3px, 2px) rotate(135deg);
    -webkit-transform: translate(3px, 2px) rotate(135deg);
  }
}

.inv {
  color: #fbfbfb;
  border-color: #fbfbfb;
}

.inv:hover {
  background-color: #fbfbfb;
  color: #333333;
}

.scrollerCarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;

  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(200px);
  scroll-snap-type: x mandatory;
  padding-bottom: 0.5rem;
}

.child {
  scroll-snap-align: start;
  padding: 0 0.25rem;
}

.scrollerCarousel::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
.scrollerCarousel::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 15px;
}
.scrollerCarousel::-webkit-scrollbar-thumb:hover {
  background: #858585;
}
.scrollerCarousel::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}
