.container {
  /*height: 20rem; let's see if this works*/
  width: 100%;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.gridContainer {
  display: grid;
  margin: 2rem auto;
  width: 100%;
  grid-template-columns: 1fr;

  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: space-evenly;
}

.gridContainer h4 {
  margin: 0 0 0.5rem 0;
}

.gridContainer a {
  color: #000;
  text-decoration: none;
}

.gridContainer a:hover {
  text-decoration: underline;
}

.copyright {
  margin: auto;
  width: fit-content;
  padding-bottom: 2rem;
}

.platformsContainer {
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.2rem;
}

.platformsContainer a {
  justify-self: center;
  padding: 0 0.5rem;
}

@media only screen and (min-width: 600px) {
  .gridContainer {
    grid-template-columns: auto repeat(3, 10rem) auto;
    margin: 1rem auto;
  }

  .copyright {
    margin: 0 0 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    text-align: center;
  }

  .gridContainer {
    grid-gap: 0;
  }

  .gridContainer h3 {
    margin: 0.2rem 0;
  }

  .legalContainer {
    display: flex;
    align-items: baseline;
    /* gap: 1rem; */
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .legalContainer a {
    padding: 0 0.5rem;
  }

  .legalContainer p {
    margin: 0;
    font-weight: bold;
  }

  .sitesContainer a {
    padding: 0 0.5rem;
  }

  .platformsContainer {
    margin: auto;
  }

  .addressContainer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    /* gap: 0.1rem; */
    max-width: 90vw;
    justify-content: center;
    margin: auto;
  }

  .sitesContainer {
    display: flex;
    flex-wrap: wrap;
    /* gap: 0 2rem; */
    justify-content: center;
    padding-bottom: 1rem;
  }

  .sitesContainer p {
    margin: 0.1rem 0;
  }

  .topPaddingDiv {
    display: none;
  }
}
