.container {
  height: 20rem;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.gridContainer {
  display: grid;
  margin: 2rem auto;
  width: 100%;
  grid-template-columns: auto;

  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: space-evenly;
}

.gridContainer h4 {
  margin: 0 0 0.5rem 0;
}

.gridContainer a {
  color: #000;
  text-decoration: none;
}

.gridContainer a:hover {
  text-decoration: underline;
}

.copyright {
  margin: auto;
  width: fit-content;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
  .gridContainer {
    grid-template-columns: auto repeat(3, 10rem) auto;
  }

  .copyright {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    text-align: center;
  }
}
