.videoInfo {
  display: flex;
  flex-direction: column-reverse;
}

.rightInfo {
  text-align: center;
}

.spacer {
  width: 10rem;
  display: none;
}

@media only screen and (min-width: 600px) {
  .videoInfo {
    flex-direction: row;
  }

  .spacer {
    display: block;
  }

  .rightInfo {
    text-align: right;
  }
}

.popover {
  background-color: var(--light);
  padding: 2rem;

  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
}

.embedButton {
  margin-bottom: 2rem;
  background: var(--light);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
  height: 2.6rem;
  width: 6rem;
  border-style: none;
  cursor: pointer;
}

.embedButton:focus {
  outline: none;
}

.popover {
  background-color: white;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  max-width: 500px;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.popoverArrow {
  fill: white;
}
